* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
}

select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat calc(100% - 15px);
    padding-left: 10px;
}

button {
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    border: 0;
    border-radius: 10px;
}

button:hover {
    filter: brightness(80%);
}